*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Consolas, monospace;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background-image:url('../img/fondo.jpg');
    background-size:cover;
    background-position:center;
}

.contenedor{
    width:510px;
    background:#ececec;
    border:2px solid #666;
    border-radius:35px;
    padding:25px 45px;
}

.logo{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.logo i{
    font-size:35px;
}

.logo h1{
    font-size:28px;
    font-weight:bold;
}

.subtitulo{
    text-align:center;
    color:#666;
    margin-top:5px;
    margin-bottom:10px;
}

hr{
    margin-bottom:15px;
}

label{
    display:block;
    margin-top:12px;
    margin-bottom:5px;
    font-size:18px;
    font-weight:bold;
}

.input-box{
    display:flex;
    align-items:center;
    border:2px solid #888;
    background:#fff;
    border-radius:3px;
    padding:8px;
}

.input-box input{
    width:100%;
    border:none;
    outline:none;
    font-size:16px;
    padding-left:8px;
}

.input-box i:last-child{
    cursor:pointer;
}

.terminos{
    margin-top:12px;
    display:flex;
    align-items:flex-start;
    gap:8px;
    font-size:14px;
}

.terminos input{
    width:18px;
    height:18px;
}

.terminos a{
    color:#1e73ff;
    text-decoration:none;
}

button{
    width:100%;
    margin-top:12px;
    padding:12px;
    background:#4b4be8;
    color:white;
    border:none;
    border-radius:4px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#3939d6;
}

.login{
    text-align:center;
    margin-top:15px;
    font-size:16px;
}

.login a{
    color:#1e73ff;
    text-decoration:none;
}