*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Consolas, monospace;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background-image:url("../img/fondo.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.contenedor-login{
    width:360px;

    background:#ececec;

    border:2px solid #7a7a7a;
    border-radius:35px;

    padding:25px 35px;

    box-shadow:0 4px 15px rgba(0,0,0,.2);
}

.logo{
    text-align:center;
}

.logo i{
    font-size:35px;
    margin-bottom:5px;
}

.logo h1{
    font-size:24px;
    font-weight:bold;
}

.subtitulo{
    text-align:center;
    color:#666;
    font-size:12px;
    margin-top:5px;
}

hr{
    margin:15px 0 20px;
    border:none;
    border-top:2px solid #b9b9b9;
}

label{
    display:block;
    margin-bottom:8px;
    margin-top:18px;

    font-size:14px;
    font-weight:bold;
}

.input-box{
    display:flex;
    align-items:center;

    background:white;

    border:2px solid #8f8f8f;
    border-radius:3px;

    padding:7px;
}

.input-box input{
    width:100%;

    border:none;
    outline:none;

    padding-left:8px;

    font-size:13px;
}

.input-box i:last-child{
    cursor:pointer;
}

.opciones{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-top:15px;
    font-size:11px;
}

.opciones a{
    color:#315cff;
    text-decoration:none;
}

button{
    width:100%;
    margin-top:10px;

    padding:9px;

    background:#f80000;
    color:rgb(243, 243, 243);

    border:none;
    border-radius:3px;

    cursor:pointer;
}

button:hover{
    background:#e24242;
}

.registro{
    text-align:right;
    margin-top:8px;
    font-size:11px;
}

.registro a{
    color:#0839ce;
    text-decoration:none;
}

.footer{
    margin-top:15px;
    padding-top:12px;

    border-top:2px solid #b9b9b9;

    text-align:center;
    color:#8a8a8a;
    font-size:11px;
}
.logo-img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto 5px;
}
a{
    color: #ececec;
}